@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Razor Pizzeria</h1>
    <h2>Razor Sharp Pizzas, is the best pizza</h2>
    <img class="mainImage" src="~/images/PizzaTime.jpg" alt="Alternate Text" />
    <br />
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/ThankYou">Bring Me that Pizza</a>

</div>
